:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(34, 34, 34, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  --app-navigation-height: 40px;
  --app-navigation-link-background: transparent;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
}

.navigation {
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 10px;
}

.navigation span {
  color: #555;
  font-weight: 600;
}

.navigation-links {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation-links a {
  text-decoration: none;
  border-radius: 4px;
  color: blue;
  padding: 2px 4px;
  background-color: var(--app-navigation-link-background);
}
.navigation-links a:visited {
  color: blue;
}
.navigation-links a:hover,
.navigation-links--active {
  --app-navigation-link-background: #e4d7ff;
}

.main {
  display: flex;
  flex: 1;
  min-height: calc(100vh - var(--app-navigation-height));
}
.main aside {
  width: 260px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main main {
  flex: 1;
}
.main aside,
.main main {
  padding: 6px;
}
.category-filter {
  border: 1px solid #ccc;
  padding: 5px;
}
.category-filter h5 {
  margin: 0 0 5px 0;
}
